{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pro Bids User Home</title>
	  <link href="{% static 'pro/css/prodash.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>

<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container-fluid">

      <div class="jumbotron">
          <h3>Notifications</h3>
        <p> Jenny has accepted your bid to fix her roof! </p>
          <p> Paul has accepted your bid to fix his roof!</p>
      </div>

      <div class="row">

		<div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading">
            <h2 class="panel-title">Potential Jobs</h2>
            </div>

            <div class="list-group">
              <li class="list-group-item ListSize"></li>
            </div>
          </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Info</h2>
              </div>
              <ul class="list-group favorites-list">
                <li class="list-group-item">Info</li>
              </ul>
            </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                <h2 class="panel-title">Details</h2>
              </div>
                <ul class="list-group favorites-list">
                  <li class="list-group-item">Details</li>
                </ul>
              </div>
          </div>

        <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-heading">
            <h2 class="panel-title">Current Bids</h2>
            </div>
              <div class="panel-body">
                  <div class="row job-card">
                      <div class="col-sm-3 border-right">
                          <img class="job-icon" src="{% static 'main/images/fix.png' %}">
                      </div>
                      <div class="col-sm-6 border-right">
                          <p>
                              Need a good roofer, quick!
                          </p>
                      </div>
                      <div class="col-sm-3">
                          <p>
                              You: $250<br>Low: $235<br>High: $400
                          </p>
                      </div>
                  </div>
                  <hr>
              </div>
          </div>
        </div>

		</div>

    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'pro/js/pro.js' %}"></script>
  </body>
</html>
